.cabeçalho{
    background-color: #04075A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2048px;
    height: 1440px;
    left: 0px;
    top: 0px;
    color: white;
}