    .cabeçalho{
    background-color: #04075A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2048px;
    height: 120px;
    left: 0px;
    top: 0px;
    color: white;
     .imagem1: 1px;
     position:absolute;
    width: 594px;
    height: 425px;
    left: 39px;
    top: 209px;
    }